/* latin regular */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url(https://fonts.gstatic.com/s/arimo/v13/P5sMzZCDf9_T_10ZxCE.woff2) format('woff2'),
    url("../fonts/P5sMzZCDf9_T_10ZxCE.woff2") format('woff2'),
    url("../fonts/Arimo-Regular.ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin bold */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url(https://fonts.gstatic.com/s/arimo/v13/P5sBzZCDf9_T_1Wi4TRDrZI.woff2) format('woff2'),
    url("../fonts/P5sBzZCDf9_T_1Wi4TRDrZI.woff2") format('woff2'),
    url("../fonts/Arimo-Bold.ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}